* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: lighter;
}

#header {
    background-color: #01227b;
    height: 91.8px;
    position: relative;
}

#genel {
    padding: 0 15px;
}

#resim0 {
    width: 250px;
    height: 90px;
    margin-top: -5px;
    margin-left: 57px;
}

#header2 {
    font-size: 18px;
    display: inline;
    width: 990px;
    position: relative;
    float: right;
    top: -55px;
}

ul {
    list-style-type: none;
    margin-right: 32px
}

a {
    text-decoration: none;
    color: #899bd0;
}

a:hover {
    color: white;
}

ul {
    margin-left: 100px;
}

li {
    padding: 0 28px;
    display: inline;
    float: left;
}

.text {
    padding-left: 5px;
}

#kaplama {
    width: 100%;
    background: url("https://storage.acerapps.io/app-1232/public/20221004/n_8964_m.png") no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 90vh;
    text-align: center;
}


#icerik {
    background: rgba(6, 45, 150, .8);
    width: 762px;
    margin: 0 20px;
    padding: 20px 4vw;
}

#title {
    font-size: 3.5rem;
    color: white;
}

#description {
    font-size: 1.1rem;
    padding: 5px;
    font-style: italic;
    color: white;
}

#link {
    width: 180px;
    height: 53px;
    padding: 16px 20px;
    display: inline-block;
    border: 1px solid white;
    background-color: rgba(70,215,252,.2);
    color: white;
}

#link:hover {
    background-color: blue;
}